<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <img src="../../../assets/yo perfil.jpg" id="foto"
        class="img-fluid">

    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <p id="nombre">Deborah Gimenez</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <span>
            <h1>Acerca de mí</h1>
            <p>Estoy entusiasmada de dar mis primeros pasos en esta industria en constante evolución y descubrir todas las maravillas que la tecnología tiene para ofrecer. 
                Estoy abierta a nuevas oportunidades y desafíos que me permitan seguir creciendo y desarrollando mis habilidades en este apasionante mundo, también estoy dispuesta a aprender de los expertos, compartir conocimientos y formar parte de equipos inspiradores que estén a la vanguardia de la tecnología. </p>
        </span>
    </div>
</div>
      
            

