<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>titulo</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit praesentium, deserunt quo dolorum, unde dignissimos illum deleniti aliquam maiores optio accusantium officia ut distinctio sit hic eveniet asperiores aperiam. Veritatis?</p>

        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <p>volver a ver el n 7 para dar efecto a la imagen</p>


        </div>
    </div>
</div>
